<div class="page-header">
  <div class="top-menu pull-right">
    <%= settings_link %>
  </div>
  <h1><%= title %>
    <% if small_title.present? %>
      <small><%= small_title %></small>
    <% end %>
  </h1>
</div>
