
<%= Waggle::PageTitle.new("large_title").display do | pt |
  pt.small_title = "small_title"
  pt.small_title_href = "#"
  pt.title_href = "#"
  pt.settings_href = "#"
end
%>


<h2>Delete Example</h2>


<%= Waggle::DeleteSection.new(FunModel.new).display do | ds |
  ds.name = "Content"
  ds.message = "Be careful when you delete this"
  ds.path = "path"
end
%>
