<!DOCTYPE html>
<html>
<head>
  <title>Waggle</title>
  <%= stylesheet_link_tag    "waggle/application", media: "all" %>
  <%= javascript_include_tag "waggle/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
